body {
    margin: 0 auto;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 18px;
    text-align: center; /* Center aligns the text for the whole body */
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px; /* Adjust as needed */
    text-align: center;
    padding: 20px; /* Added padding for better spacing */
}

.title {
    font-size: 36px;
    margin-top: 20px;
    width: 90%;
}

/* Image Slider Styles */
.image-slider {
    width: 80%; /* Adjust the width as needed */
    margin: 20px auto; /* Adds margin to the top and bottom */
    overflow: hidden; /* Ensures the images don't overflow the container */
}

.image-slider img {
    width: 100%; /* Adjust the width of images */
    margin-bottom: 10px; /* Space between images */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .image-slider {
        width: 95%; /* Increase width on smaller screens */
    }
}

/* General Styles */
h1, h2, h3, h4, h5 {
    text-align: center; /* Center-aligns all headers */
}

p {
    text-align: center; /* Center-aligns paragraphs */
    margin: 0 auto;
    margin-bottom: 10px;
}

a:link, a:visited {
    color: #1367a7;
    text-decoration: none;
}

a:hover {
    color: #208799;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 90%;
    margin: 20px auto; /* Adds margin to the top and bottom */
}
