body {
    margin: 0 auto;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 18px;
    text-align: center; /* Center aligns the text for the whole body */
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px; /* Adjust as needed */
    text-align: center;
    padding: 20px; /* Added padding for better spacing */
}

.main-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px; /* Adjust as needed */
    text-align: center;
    padding: 20px; /* Added padding for better spacing */
    display: flex;
    justify-content: space-between;

}

.sub-container {
    width: 48%;/* width: 48%; Adjust the width as needed, this sets it to just under half the parent container's width */
    display: flex;
    flex-direction: column; /* Stack child elements side by side */
}

.title {
    font-size: 40px;
    margin-top: 20px;
    width: 90%;
}

.divider {
    height: 2px; /* Height of the line */
    background: #000; /* Color of the line */
    width: 100%; /* Width relative to its container */
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto; /* Centers the divider within its container */
    display: block; /* Makes sure it is displayed as a block-level element */
}

.tldr{
    font-size: 24px; /* Adjust font size as necessary */
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left; /* Aligns the subtitle to the right */
    width: 100%; /* Ensures the div takes up the full width for proper alignment */
}

/* Additional CSS class for bold text */
.bold {
    font-weight: bold; /* Makes text bold */
}

.subtitle {
    font-size: 24px; /* Adjust font size as necessary */
    margin-top: 10px;
    margin-bottom: 5px;
}

.conclusions {
    font-size: 20px; /* Adjust font size as necessary */
    margin-top: 10px;
    text-align: left; /* If you want to align the text to the left */
    padding: 0 20px; /* Optional padding for better text spacing */
}


/* Image Slider Styles */
.image-slider {
    width: 80%; /* Adjust the width as needed */
    margin: 20px auto; /* Adds margin to the top and bottom */
    overflow: hidden; /* Ensures the images don't overflow the container */
}

.image-slider img {
    width: 100%; /* Adjust the width of images */
    margin-bottom: 10px; /* Space between images */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .image-slider {
        width: 95%; /* Increase width on smaller screens */
    }
}

/* General Styles */
h1, h2, h3, h4, h5 {
    text-align: center; /* Center-aligns all headers */
}

p {
    text-align: center; /* Center-aligns paragraphs */
    margin: 0 auto;
    margin-bottom: 10px;
}

a:link, a:visited {
    color: #1367a7;
    text-decoration: none;
}

a:hover {
    color: #208799;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 90%;
    margin: 20px auto; /* Adds margin to the top and bottom */
}
